:root {
--light: #ededed;
  --gray-md: #aeafaf;
  --gray-dark: #6f6866;
  --dark: #222;
  --blue-dk: #003049ff;
  --blue-md: #0dcaf0;
--red: #d62828ff;
--orange: #f77f00ff;
--yellow: #fcbf49ff;
--lemon-meringue: #eae2b7ff;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}
.alert {
    margin-top: 15px;
}

.bg-light {
    background-color: #f8f9fa!important;
    border-right: 1px solid #ddd;
    width: 380px;
}
.brd-btm {
    border-bottom: 1px solid #ddd;
}

.days.card {
    padding: 1rem;
}
.days {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero {
  padding: 5% 4% 1% 4%;
  background-color: var(--blue-md);
  color: var(--light);
}

.hero h1 {
    font-size: 2.7rem;
    font-weight: 400;
}

/* button colors */
.btnYellow{
    background-color: var(--yellow);
          color: var(--dark)

}
.btn {
    color: var(--light);
}
.btnOrange{
    background-color: var(--orange);
          color: var(--light)

}

.btnBlue{
  background-color: var(--blue-md);
        color: var(--light)

}

.btnRed {
      background-color: var(--red);
      color: var(--light)

}

.btn:hover {
    background-color:var(--gray-dark);
}
#cityHistory li:hover {
    font-weight: 400;
    background-color: var(--light);
}
@media (max-width: 992px) { 
.days {
    flex-direction: column;
}
.card {
    padding: 0;
}
}